/ProyectoFinal/Administracion/__pycache__/

/ProyectoFinal/Administracion/migrations/__pycache__/

/ProyectoFinal/Administracion/views/__pycache__/

/ProyectoFinal/ProyectoFinal/Public/__pycache__/

/ProyectoFinal/ProyectoFinal/__pycache__/

/entorno/Lib/site-packages/pip/_internal/__pycache__/

/entorno/Lib/site-packages/pip/_internal/cli/__pycache__/

/entorno/Lib/site-packages/pip/_internal/commands/__pycache__/

/entorno/Lib/site-packages/pip/_internal/models/__pycache__/

/entorno/Lib/site-packages/pip/_internal/utils/__pycache__/

/entorno/Lib/site-packages/pip/_internal/vcs/__pycache__/

/entorno/Lib/site-packages/pip/_vendor/__pycache__/

/entorno/Lib/site-packages/pip/_vendor/packaging/__pycache__/

/entorno/Lib/site-packages/pip/_vendor/pep517/__pycache__/

/entorno/Scripts/__pycache__/

/ProyectoFinal/Public/__pycache__/

/ProyectoFinal/Public/migrations/__pycache__/

/ProyectoFinal/db.sqlite3




